*{
    margin: 0%;
    padding: 0%;
}
:root{
    background-color: #282B30;
}

.hero-img-container{
    max-width: 1550px;

}

.hero-img{
    width: 100%;
    height: auto;
}

.logo-img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    top: 15%;
}
