*{
    margin: 0%;
    padding: 0%;
}
:root{
    background-color: #111;
}

.hero-img-container{
    max-width: 1550px;
    width: 100%;

}

.hero-img{
    width: 100%;
    height: auto;
}

.logo-img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    top: 15%;
}

.hero{
    max-width: 1510px;
    background-color: #1b1d1f;
    height: 600px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #6C727F;
}
